header {
  display: flex;
  flex-direction: row;
}

.LogoutButtonContainer {
  position: fixed;
  right: 1rem;
  top: 1rem;
  width: 100px;
}

.Logo{
  width: 300px;
  height: auto;
}

#MerButton:hover {
  background-color: #c23636;
}
